.call-to-action {
  padding-top: 30px;
  height: 152px;
  background: linear-gradient(180deg, #29a869 0.66%, #16181d 99.34%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.cta-text {
  color: #fff;
  padding: 0px 22px;
}
.cta-text > p {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.32;
  letter-spacing: 0.6px;
}

.cta-button {
  text-align: center;
  margin-top: 25px;
}

.cta-button button {
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  width: 289px;
  background-clip: padding-box;
  min-width: 64px;
  border-radius: 4px;
  color: #ffffff;
  border-width: 2px;
  border-style: solid;
  border-color: #ffffff;
  background-color: transparent;
  padding: 0 22px;
  height: 48px;
  overflow: hidden;
}

.cta-button button:hover {
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.6);
  border: none;
}
