.header {
  max-height: 660px;
  width: 100%;
  background-image: linear-gradient(
      0deg,
      transparent 60%,
      rgba(0, 0, 0, 0.2) 90%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url(../Assets/hero-desktop.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-bar {
  width: 100%;
  height: 74px;
  display: inline;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  height: 100%;
  width: 61px;
  align-items: center;
  margin-left: 40px;
}

.login > button {
  color: #a8afbd;
  margin-right: 40px;
  padding: 0px 16px;
  display: flex;
  cursor: pointer;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}
.login button:hover {
  color: white;
  background-color: #323843;
}

.hero {
  margin-top: 10px;
  min-height: 586px;
  width: 100%;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.offers {
  display: flex;
  flex-direction: row;
  column-gap: 32px;
  width: 670px;
}

.offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 319px;
}

.offer-title > h2 {
  color: #1ce783;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.6px;
  line-height: 1;
  text-transform: uppercase;
}
.image-container {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80px;
}
.offer-images {
  width: 60%;
}
.offer-image2 {
  width: 90%;
}

.offer-price {
  color: white;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.24;
  text-transform: none;
  margin-top: 13px;
  text-align: center;
}

.offer-button {
  margin-top: 1.6em;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  text-align: center;
  width: 100%;
  font-weight: 600;
  letter-spacing: 0.6px;
  min-width: 64px;
  background-color: rgb(28, 231, 131);
  padding: 0px 24px;
  height: 40px;
}
.offer-button:hover {
  background-color: rgba(28, 231, 131, 0.8);
  opacity: 0.8;
}

.terms {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.terms-apply {
  font-size: 14px;
  color: white;
}

.terms-signup {
  font-size: 16px;
  color: white;
}
